<!-- <div id="category-wrapper">
  <app-breadcrum [header]="'Category'" />

  <app-reusable-table
    [headers]="column"
    [data]="data"
    [tableHead]="tableHead"
    [loading]="apiLoading"
    [noOfData]="noOfData"
    [pageNo]="pageNo"
    [pageSize]="pageSize"
    [pageArr]="pageArr"
    [isNextPageAvailable]="isNextPageAvailable"
    [addbtnLabel]="'Category'"
    [showActions]="true"
    [showEdit]="true"
    [showDelete]="true"
    (pageChange)="onPageChange($event)"
    (onAdd)="openModal('add')"
    (onView)="openModal('view', $event)"
    (onEdit)="openModal('edit', $event)"
    (onDelete)="openDeleteModal($event)"
    (filterData)="applyFilter($event)"
  />
</div> -->

<div id="category-wrapper">
  <app-breadcrum [header]="'Category'" />

  <div class="category-main">
    <app-add-filter-btn
      [showAddBtn]="true"
      [showFilterBtn]="true"
      [addbtnLabel]="'Category'"
      (onAdd)="openModal('add')"
      (onFilter)="applyFilter($event)"
    />

    <app-reusable-table
      [showAddBtn]="false"
      [showFilterBtn]="false"
      [headers]="column"
      [data]="data"
      [tableHead]="tableHead"
      [loading]="apiLoading"
      [noOfData]="noOfData"
      [pageNo]="pageNo"
      [pageSize]="pageSize"
      [pageArr]="pageArr"
      [isNextPageAvailable]="isNextPageAvailable"
      [addbtnLabel]="'Category'"
      [showActions]="true"
      [showEdit]="true"
      [showDelete]="true"
      (pageChange)="onPageChange($event)"
      (onView)="openModal('view', $event)"
      (onEdit)="openModal('edit', $event)"
      (onDelete)="openDeleteModal($event)"
    />
  </div>
</div>
