<div class="modal-header">
  <div class="header-icon">
    <i class="fa fa-trash-can"></i>
  </div>
  <h5 class="modal-title">{{ title }}</h5>
  <button
    type="button"
    class="btn-close"
    (click)="cancel()"
    aria-label="Close"
  ></button>
</div>

<div class="modal-body">
  <p class="confirm-message">{{ message }} <span class="text-danger"></span></p>
</div>

<div class="modal-footer">
  <button class="btn btn-cancel" (click)="cancel()">
    <i class="fa fa-xmark"></i>
    Cancel
  </button>
  <button class="btn btn-delete" (click)="confirm()">
    <i class="fa fa-trash-can"></i>
    Delete
  </button>
</div>
